{% extends "base.html.twig" %}
{% block title %}Profil Abonné
{% endblock %}
{% block body %}

    <!-- Start main-content -->
    <div
        class="main-content">
        <!-- Section: inner-header -->
        {% include "partials/header-page.html.twig" with {'page': 'Parofil Abonné'} %}
        <section>
            <div class="container mt-30 mb-0 pt-30 pb-30">
                <div class="row">
                    <div class="col-md-8 blog-pull-right">
                        <div class="single-service">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="text-theme-colored title-border mb-1 mt-20">Information personnel</h3>

                                            {{form_start(form,{'attr':{'id':'contact_form'}})}}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        {{form_row(form.oldPassword)}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{form_row(form.motpasse)}}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{form_row(form.confpass)}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input name="form_botcheck" class="form-control" type="hidden" value=""/>
                                                <button type="submit" class="btn btn-flat btn-theme-colored text-uppercase mt-10 mb-sm-30 border-left-theme-color-2-4px" data-loading-text="Please wait...">Valider votre enregistrement</button>
                                                <button type="reset" class="btn btn-flat btn-theme-colored text-uppercase mt-10 mb-sm-30 border-left-theme-color-2-4px">annuler</button>
                                            </div>
                                            {{form_end(form)}}


                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="sidebar sidebar-left mt-sm-30 ml-40">
                            <div class="widget">
                                <h4 class="widget-title line-bottom">
                                    <i class="fa fa-mecanic"></i>
                                    Parametrage</h4>
                                {% include "partials/aside.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Blog -->
    </div><!-- end main-content --><a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
</div><!-- Footer Scripts --><!-- JS | Custom script for all pages --><script src="js/custom.js"></script></body></html>{% endblock %}
