<!-- Slider Revolution Start -->
<div class="rev_slider_wrapper">
	<div class="rev_slider" data-version="5.0">
		<ul>
			{% for key, slider in sliders %}


				<!-- SLIDE 2 -->
				<li
					data-description="" data-easein="default" data-easeout="default" data-index="rs-2" data-masterspeed="default" data-rotate="3" data-saveperformance="off" data-slotamount="default" data-thumb="{{vich_uploader_asset(slider,'imageFile')}}" data-title="Slide 2" data-transition="slidingoverlayhorizontal">
					<!-- MAIN IMAGE -->
					<img alt="{{ slider.titre }}" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center 40%" data-bgrepeat="no-repeat" data-no-retina src="{{vich_uploader_asset(slider,'imageFile')}}">
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
						<div class="tp-caption tp-resizeme text-uppercase  bg-theme-colored-transparent text-white font-raleway border-left-theme-color-2-6px border-right-theme-color-2-6px pl-30 pr-30" data-fontsize="['28']" data-height="none" data-hoffset="['0']" data-lineheight="['54']" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="1000" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-voffset="['-90']" data-whitespace="nowrap" data-width="none" data-x="['center']" data-y="['middle']" id="rs-2-layer-1" style="z-index: 7; white-space: nowrap; font-weight:400; border-radius: 30px;"> {{ slider.titre }}
					</div>
					<!-- LAYER NR. 2 -->
					<div class="tp-caption tp-resizeme text-uppercase bg-theme-colored-transparent text-white font-raleway pl-30 pr-30" data-fontsize="['48']" data-height="none" data-hoffset="['0']" data-lineheight="['70']" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="1000" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-voffset="['-20']" data-whitespace="nowrap" data-width="none" data-x="['center']" data-y="['middle']" id="rs-2-layer-2" style="z-index: 7; white-space: nowrap; font-weight:700; border-radius: 30px;">
						{{ slider.resume }}
					</div>


				</li>

			{% endfor %}


		</ul>
	</div>
	<!-- end .rev_slider -->
</div>
<!-- end .rev_slider_wrapper -->
