<!DOCTYPE html>
<html dir="ltr" lang="fr">
	<head>
		<!-- Meta Tags -->
		<meta content="width=device-width,initial-scale=1.0" name="viewport"/>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
		<meta content="SeniorPress | Senior Care & Health Services HTML Template" name="description"/>
		<meta content="senior care, elderly care, retairment care, medical and health services, assisted living and sheltered accommodation." name="keywords"/>
		<meta
		content="ThemeMascot" name="author"/>

		<!-- Page Title -->
		<title>Scoop-solidaire -
			{% block title %}{% endblock %}
		</title>

		<!-- Favicon and Touch Icons -->
		<link href="{{asset('images/favicon.png')}}" rel="shortcut icon" type="image/png">
		<link href="{{asset('images/apple-touch-icon.png')}}" rel="apple-touch-icon">
		<link href="{{asset('images/apple-touch-icon-72x72.png')}}" rel="apple-touch-icon" sizes="72x72">
		<link href="{{asset('images/apple-touch-icon-114x114.png')}}" rel="apple-touch-icon" sizes="114x114">
		<link
		href="{{asset('images/apple-touch-icon-144x144.png')}}" rel="apple-touch-icon" sizes="144x144">

		<!-- Stylesheet -->
		<link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('css/jquery-ui.min.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('css/animate.css')}}" rel="stylesheet" type="text/css">
		<link
		href="{{asset('css/css-plugin-collections.css')}}" rel="stylesheet" type="text/css">
		<!-- CSS | menuzord megamenu skins -->
		<link
		href="{{asset('css/menuzord-rounded-boxed.css')}}" id="menuzord-menu-skins" rel="stylesheet"/>
		<!-- CSS | Main style file -->
		<link
		href="{{asset('css/style-main.css')}}" rel="stylesheet" type="text/css">
		<!-- CSS | Preloader Styles -->
		<link
		href="{{asset('css/preloader.css')}}" rel="stylesheet" type="text/css">
		<!-- CSS | Custom Margin Padding Collection -->
		<link
		href="{{asset('css/custom-bootstrap-margin-padding.css')}}" rel="stylesheet" type="text/css">
		<!-- CSS | Responsive media queries -->
		<link href="{{asset('css/responsive.css')}}" rel="stylesheet" type="text/css">
		<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
		<!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

		<!-- Revolution Slider 5.x CSS settings -->
		<link href="{{asset('css/settings.css')}}" rel="stylesheet" type="text/css"/> <link href="{{asset('css/layers.css')}}" rel="stylesheet" type="text/css"/>
		<link
		href="{{asset('css/navigation.css')}}" rel="stylesheet" type="text/css"/>

		<!-- CSS | Theme Color -->
		<link href="{{asset('css/theme-skin-color-set-1.css')}}" rel="stylesheet" type="text/css"> {% block stylesheets %}{% endblock %}

		<!-- external javascripts -->
		<script src="{{asset('js/jquery-2.2.4.min.js')}}"></script>
		<script src="{{asset('js/jquery-ui.min.js')}}"></script>
		<script src="{{asset('js/bootstrap.min.js')}}"></script>
		<!-- JS | jquery plugin collection for this theme -->
		<script src="{{asset('js/jquery-plugin-collection.js')}}"></script>

		<!-- Revolution Slider 5.x SCRIPTS -->
		<script src="{{asset('js/jquery.themepunch.tools.min.js')}}"></script>
		<script src="{{asset('js/jquery.themepunch.revolution.min.js')}}"></script>
		{% block javascripts %}{% endblock %}
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>                                                                                                                                                                                                                                                           <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
												                                                                                                                                                                                                                                                                                                                                                                                                        <![endif]-->
	</head>

	<body class="">
		{% include "partials/header.html.twig" %}
		{% block body %}{% endblock %}
		{% include "partials/footer.html.twig" %}
	</body>
</html>
